<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947215046777-u0cionbrb2hmu53qr4aeks34g85n0mv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947215046777-u0cionbrb2hmu53qr4aeks34g85n0mv5</string>
	<key>API_KEY</key>
	<string>AIzaSyACbQKfnMyAL7C3z-Foz9zYoOhQfv6LCuo</string>
	<key>GCM_SENDER_ID</key>
	<string>947215046777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Max-Nechaev.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-47d3e</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-47d3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947215046777:ios:b1edfe108b6cad22d45ca8</string>
</dict>
</plist>